<!DOCTYPE html>
<html>
  <head>
    <title>Grammable</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  </head>

  <body>
    <div class="top-nav">
      <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
        <div class="brand float-left">
          <%= link_to 'Grammable', root_path %>
        </div>
        <div class="add float-right">
          <% if current_user %>
            You're signed in as <%= current_user.email %>
            <%= link_to "New Gram", new_gram_path %>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign in", new_user_session_path %>
            <%= link_to "Register", new_user_registration_path %>   
          <% end %> 
          <% if notice.present? %>
            <span class="alert alert-info"><%= notice %></span>
          <% end %>
          <% if alert.present? %>
            <span class="alert alert-warning"><%= alert %></span>
          <% end %>
        </div>
      </div>
      <br class="clear-fix" />
    </div>   

    <%= yield %>

  </body>
</html>
